 <style>
   #footer {
     color: brown;
     padding-left: 500px!important;
     padding-top: 10px!important;
  }
  /* News App. Checkout*/
 </style>
 <!-- Header -->
<mat-toolbar color="accent">
  <button mat-button (click) = "sidenav.open()"><mat-icon>menu</mat-icon></button>
  <span>News Headlines</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor] = "appMenu"><mat-icon>settings</mat-icon></button>
  <!-- home can use this -->
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list class="list-nav">
   
      <mat-list-item class="list-item" *ngFor="let source of mSources" (click)="searchArticles(source.id);sidenav.close();">

  <div mat-card-avatar [ngStyle] = "{'background-image': 'url(./../../assets/images/'+ source.id +'.png)'}" class="example-header-image"></div>

  <span class="source-name">{{source.name}}</span>

      </mat-list-item>
    </mat-list>
    </mat-sidenav>
    <mat-card class="example-card" *ngFor="let article of mArticles">
      <mat-card-header>
        <div mat-card-avatar [ngStyle] = "{'background-image': 'url(./../../assets/images/' + article.source.id +'.png)'}"></div>
        <mat-card-title class="title"> {{article.title}}</mat-card-title>
        <mat-card-subtitle>{{article.name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img-article" src={{article.urlToImage}} alt="Image not found" >
      <mat-card-content>
          <p> {{article.description}}</p>
      </mat-card-content>
      <mat-card-footer id = "footer"> Publish On {{article.publishedAt | slice:0:10 | date: 'dd/MM/yyyy'}}</mat-card-footer>
<mat-card-actions class="action-buttons">
  <button mat-button color="accent" (click)="onShowLog()"><mat-icon [ngStyle] = "{'pointer' : 'cursor'}">thumb_up_alt</mat-icon><span  *ngIf="showLog" >{{log}}</span></button>
  <button mat-button color="accent"><mat-icon>comment</mat-icon>Comments</button>
  
      <input type="text" id="textcomment" style="display: none;">
     
      <a href="https://web.whatsapp.com/send?text=www.google.com" data-action="share/whatsapp/share"> <button mat-button color="accent"><mat-icon>share</mat-icon>Share</button></a>
 
  <a mat-button color="accent" href={{article.url}} target="_blank"><mat-icon>visibility</mat-icon>More on article</a>
</mat-card-actions>
    </mat-card>

</mat-sidenav-container>

